// Define variables for your color scheme

// For example:
$red: #F24236 ;
$blue: #80A1D4 ;
$yellow: #F6F930 ;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$purple: #7B506F;
$light-gray: #F4F4F4;
